<% provide(:title, "About") %>

    <h1>About</h1>
    <p>私たちは孤独なピアニストやピアノ教師の活動を支援しています。</p>
    <p>ピアニストやピアノ教師はいつでも孤独を強いられます。</p>
    <p>私達はそんな人達の活動を支援したり多くの悩みを解決するためにあなたをサポートします。</p>
    <p>代表者は<a href="#">T Inaba</a>です。</p>
